#**
  Apache Velocity Template for AppDynamics HTTP Request
  
  Add a new HTTP Request Template at https://<CONTROLLER>:<PORT>/controller/?accountName=<APPD_ACCOUNT>#/location=ALERT_RESPOND_HTTP_ACTION_PLAN_LIST
  with the following parameters:
  - Method: POST
  - Raw URL: http://<PUBLIC_URL>/appd where PUBLIC_URL is the Internet facing URL where the bot can be reached, as defined in your environment variables
  - URL Encoding: UTF-8
  - Authentication: NONE
  - MIME Type: application/json
  - Payload encoding: UTF-8
  - Body: as specified below
*#

[
#foreach(${event} in ${fullEventList})
        #set( $msg = $event.summaryMessage.replace("
", "\\n") )
        {"app": "${event.application.name}",
        "appid": "${event.application.id}",
        "tier": "${event.tier.name}",
        "node": "${event.node.name}",
        "time": "${event.eventTime}",
        "deeplink": "${event.deepLink}",
        "name": "${event.displayName}",
        "severity": "${event.severity}",
        "message": "${msg}"}
        #if($velocityCount != $fullEventList.size()) , #end
#end
]